

/*============================= Background animado ========================*/

.css-selector {
    background: linear-gradient(182deg, #00102f, #1b2037);
    background-size: 400% 400%;

    animation: Gradiente 5s ease infinite;
}

@keyframes Gradiente {
    0%{background-position:48% 0%}
    50%{background-position:53% 100%}
    100%{background-position:48% 0%}
}


/* ======================== Scroll ============================ */

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--azul) #DFE9EB;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    width: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--azul);
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #62A34B;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #62A34B;
  }
  